$font-principal: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;

.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    padding: 2vh;
    font-family: $font-principal;
    &-desplegable{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        border: none;
        margin-top: 10vw;
        margin-bottom: 5vw;
        padding-left: 0;
        padding-bottom: 5vw;
        border-bottom: solid rgb(235, 234, 235);
        select{
            background-color: white;
            border: 0px;
            width: 40vh;
            height: 10vw;
            font-weight: 1000px;
        }
        
    }
    &-enlaces{
        padding-left: 1vh;
        a{
            text-decoration: none;
            color: rgb(58, 57, 58);
            margin-bottom: 5vw;
        }
        &__img1{
            display: flex;
            text-align: center;
            align-items: center;
            margin-top: 0vh;
            margin-left: 0vw;
            margin-bottom: 2vh;

            
        }
        &__privacidad{
            text-align: center; 
            height: 0vh;
            
        }
        &__img2{
            display: flex;
            text-align: center;
            align-items: center;
            margin-top: -2vh;
            margin-left: -4vw;
            
        }
        &__img3{
            display: flex;
            text-align: center;
            align-items: center;
            margin-top: 1vh;
            margin-left: -4vw;
            
        }

    }
    &-redes{
        width: 43vh;
        height: 15vw;
        display: flex;
        text-decoration: none;
        justify-content: space-between;
        align-items: baseline;
    }
    &-final{
        margin: 3%;
        font-size: small;

    }

}
